html,
body {
  /* scroll-snap-type: y mandatory; */
  font-family: 'Oxygen', Verdana, Arial, sans-serif;
}

.section-content {
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
}

#welcome {
  display: flex;
  align-items: center;
}

#welcome-banner {
  font-family: 'Oxygen', Verdana, Arial, sans-serif;
  font-size: 100%;
  color: #fbfbfb;
  border-left: none;
  text-align: center;
  padding-left: unset;
  margin-left: unset;
}

#welcome-banner h1 {
  font-family: 'Roboto Slab', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 15px;
}

#welcome-banner p {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 10px;
}