/* .navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 99;
  padding-top: 30px;
  transition: 0.5s ease-in-out;
} */

.navbar {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 99;
  padding-top: 30px;
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  max-width: 1920px;
  padding: 30px 150px;
}

.navbar img {
  height: 70px;
}

.navbar .left-content {
  padding: 5px;
}

.navbar .right-content {
  display: flex;
}

.links-list {
  float: right;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
}

.navbar-link{
  height: 100%;
}

.navbar-link:hover {
  border-bottom: solid 2px #29bc89;
}

.active {
  border-bottom: solid 2px #33edac;
}

.navbar-link {
  display: inline-block;
  color: #fbfbfb;
  font-size: 18px;
  padding: 10px;
  margin-right: 50px;
}

.navbar.mini {
  background-color: #132d43;
  padding: 5px 30px;
}

.navbar.mini img {
  height: 50px;
  margin: 5px;
}

.navbar.mini .navbar-content {
  padding: 0px 150px;
}