.landing-page {
    display: block;
    width: 100%;
    height: 100%;
}

.page-section {
    background-color: #fbfbfb;
    width: 100%;
    min-width: 80vw;
}

.bkgd-img {
    background-image: url(../images/alarm-background02.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.h95 {
    height: 95vh;
}

.h100 {
    height: 100vh;
}

.h50 {
    height: 50vh;
}